.mainbar{
	height: calc(100vh - 15vh);
	width: 30%;
	border: 1.3px solid #8080803b;
	border-radius: 5px;
	padding: 1em
}
p{
	color: darkgreen;
    font-size: 15px;
    font-family: sans-serif
}
.textbox{
	 width: 20%;
}
.p-hist{
	color: cadetblue;
    text-decoration: underline;
    font-size: 16px
}
.p-head{
	color: black;
    text-decoration: underline;
    font-size: 16px;
}

a{
	color: #060695;
	text-decoration: underline;
    display: block;
    cursor: pointer;
    margin-bottom: 0.3em;
}
.side-a-link{
margin-left:1em;	
}
.a-link{
    font-weight: 600
}
.panel{
    height: calc(100vh - 60vh);
	overflow-y:scroll;
	margin-top:1em;
}