<div class="mainbar">
	<p>Rebalance Frequency:</p>
	<p-dropdown [options]="rebalancedata"></p-dropdown>
	<p>Inflation Rate (%):</p>
    <input type="text" pInputText class="textbox" />
    <p>Target Return (%):</p>
    <input type="text" pInputText class="textbox" />
    <div class="panel">
<p class="p-hist">Historical Analysis</p>
<a class="side-a-link">Historical</a>
<a class="side-a-link">Time Horizon And Different Inception</a>
<a class="a-link">Stress Test Analysis</a>
<a class="a-link">Contribution to Risk and Return</a>
<p class="p-head">Philosophy Analysis</p>
<a class="side-a-link">Hit or Miss Analysis</a>
<a class="side-a-link">Value Vs  Momentum</a>
<p class="p-head">Monte Carlo</p>
<a class="side-a-link">Statistics</a>
<a class="side-a-link">Average Terminal Wealth</a>
<a class="side-a-link">Low Terminal Wealth</a>
<a class="side-a-link">Cash Outflow</a>
<a class="side-a-link">Cash Yield</a>
<a class="side-a-link">Probability of Reaching Goal</a>
</div>
</div>